= form_for @station do |f|
  = error_messages_for @station
  .row
    .col-md-5
      .form-group
        = f.label :name
        = f.text_field :name, {class: "form-control"}
    .col-md-2
      .form-group
        = f.label :number
        = f.number_field :number, {class: "form-control"}
    .col-md-5
      .form-group#tariff_zone_select
        = f.label :tariff_zone
        = f.collection_select :tariff_zone_id, TariffZone.all,:id, :name, {include_blank: true}, {class: "form-control"}
    .col-md-12
      .form-group#tariff_zone
        = f.fields_for :tariff_zone do |tz|
          = render 'tariff_zone_fields', f: tz
        .links
          = link_to_add_association f, :tariff_zone, class: 'btn btn-success'  do
            = fa_icon :plus
            = t('cocoon.tariff_zone.add')
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
