.nested-fields#tariff_zone
  .form-group
    = f.label :name
    = f.text_field :name, {class: "form-control tariff_zone_name_field"}
    = f.hidden_field :id, {class: "hidden_tariff_zone_id"}
  .form-actions   
    - if !f.object.new_record?
      = link_to_remove_association f, class: 'btn btn-danger remove_tariff_zone' do
        = fa_icon :times
        = t('cocoon.tariff_zones.remove')