=breadcrumb_tag do
  %li
    Расписание
  %li
    = link_to 'Станции', stations_path
  %li
    = link_to(@station.name, @station)
  %li.active
    = t('app.stations.edit')

%h1= t('app.stations.edit')

= render 'form'
