=breadcrumb_tag do
  %li.active
    Станции
  %li
    Расписание
.page-header
  %h1= t('app.stations.index')
- if is_powerful?
  .row
    %caption
      = link_to new_station_path, class: 'btn btn-success' do
        = fa_icon :plus
        = t('buttons.new.station')
.row
  .flex-container
    - @stations.each do |station|
      .flex-block
        %h3= station.name
        %b= Station.human_attribute_name(:number)
        %p= station.number
        %b= Station.human_attribute_name(:tariff_zone)
        %p= station.tariff_zone.present? ? station.tariff_zone.name : nil
        .buttons.bottom-right-corner
          = link_to station, class: 'btn btn-warning' do
            = fa_icon :eye
          - if is_powerful?
            = link_to edit_station_path(station), class: 'btn btn-info' do
              = fa_icon :edit
            = link_to station, :method => :delete, :data => { :confirm => t('buttons.confirm.station') }, class: 'btn btn-danger' do
              = fa_icon :times
