%p#notice= notice

%p
  %b= Station.human_attribute_name(:name)+':'
  = @station.name
%p
  %b= Station.human_attribute_name(:number)+':'
  = @station.number
%p
  %b= Station.human_attribute_name(:tariff_zone)+':'
  = @station.tariff_zone ? @station.tariff_zone.name : nil

= link_to 'Edit', edit_station_path(@station)
\|
= link_to 'Back', stations_path
