=breadcrumb_tag do
  %li.active
    Роли
  %li
    Администрирование
.page-header
  %h1= t('headers.roles.index')
.row
  %caption
    = link_to new_role_path, class: 'btn btn-success' do
      = fa_icon :plus
      = t('buttons.new.role')
.row
  .flex-container
    - @roles.each do |role|
      .flex-block
        %b= Role.human_attribute_name(:name)
        %p= role.name
        %b= Role.human_attribute_name(:info)
        %p= role.info
        %b= Role.human_attribute_name(:full_info)
        %p= role.full_info
        .buttons.bottom-right-corner
          = link_to role, class: 'btn btn-warning' do
            = fa_icon :eye
          = link_to edit_role_path(role), class: 'btn btn-info' do
            = fa_icon :edit
          = link_to role, :method => :delete, :data => { :confirm => t('buttons.confirm.role') }, class: 'btn btn-danger' do
            = fa_icon :times

