= form_for @route do |f|
  = error_messages_for @route
  .row
    .col-md-12
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{colspan: 2}= f.label :days
        %tbody
          %tr
            %td.center= f.label :mon
            %td.center= f.check_box :mon
          %tr
            %td.center= f.label :tues
            %td.center= f.check_box :tues
          %tr
            %td.center= f.label :wed
            %td.center= f.check_box :wed
          %tr
            %td.center= f.label :thurs
            %td.center= f.check_box :thurs
          %tr
            %td.center= f.label :fri
            %td.center= f.check_box :fri
          %tr
            %td.center= f.label :sat
            %td.center= f.check_box :sat
          %tr
            %td.center= f.label :sun
            %td.center= f.check_box :sun
  .form-group#route_stations
    = f.fields_for :route_stations do |rs|
      = render 'route_station_fields', f: rs
    .links
      = link_to_add_association f, :route_stations, class: 'btn btn-success' do
        = fa_icon :plus
        = t('cocoon.route_stations.add')
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
