= form_for @route do |f|
  = error_messages_for @route
  .form-group
    = f.label :monday
    = f.check_box :monday
  .form-group
    = f.label :tuesday
    = f.check_box :tuesday
  .form-group
    = f.label :wednesday
    = f.check_box :wednesday
  .form-group
    = f.label :thursday
    = f.check_box :thursday
  .form-group
    = f.label :friday
    = f.check_box :friday
  .form-group
    = f.label :saturday
    = f.check_box :saturday
  .form-group
    = f.label :sunday
    = f.check_box :sunday
  .form-group
    = f.label :stations
    = f.collection_select :station_ids, Station.all.select{|x| !x.in? f.object.stations}, :id, :name, {}, {class: "form-control", multiple: true}
  .form-group#route_stations
    = f.fields_for :route_stations do |rs|
      = render 'route_station_fields', f: rs
    .links
      = link_to_add_association f, :route_stations, class: 'btn btn-success'
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
