.nested-fields
  .page-header
    %h3= t('activerecord.models.station')
  .row
    .col-md-4
      .form-group
        = f.label :existing_station
        = f.collection_select :station_id, Station.all, :id, :name, {include_blank: true}, {class: 'form-control select_existing_station'}
    .col-md-4
      .form-group
        = f.label :arrival_time
        .input-group.date.timepicker
          = f.text_field(:arrival_time, value: nilTime(f.object.arrival_time), class: 'form-control')
          %span.input-group-addon
            %span.glyphicon.glyphicon-time
        = f.error_messages_for(:arrival_time)
    .col-md-4
      .form-group.input-centered
        = f.label :is_missed, {class: 'checkbox-label'}
        = f.check_box :is_missed, {class: 'switch', data: {size: 'small', 'on-text': t('buttons.switch_yes'), 'off-text':  t('buttons.switch_no')}}
        = f.hidden_field :remove_station, {class: "hidden_remove_station"}
    = f.fields_for :station, f.object.station || f.object.build_station do |s|
      .nested_station
        = s.hidden_field :id, {class: "hidden_station_id"}
        = s.hidden_field :_destroy, {class: "station_destroy"}
        .col-md-5
          .form-group
            = s.label :name
            = s.text_field :name, {class: "form-control name_field"}
        .col-md-3
          .form-group
            = s.label :number
            = s.number_field :number, {class: "form-control number_field", min: 1}
        .col-md-4
          .form-group#tariff_zone_select
            = s.label :tariff_zone
            = s.collection_select :tariff_zone_id, TariffZone.all, :id, :name, {include_blank: true}, {class: "form-control tariff_zone_id_field select_existing_tariff_zone"}
  .form-actions    
    = link_to_remove_association f, class: 'btn btn-danger' do
      = fa_icon :times
      = t('cocoon.route_stations.drop')
    - if !f.object.station.new_record?
      = link_to '#', class: 'btn btn-danger remove_station' do
        = fa_icon :times
        = t('cocoon.route_stations.remove')

