=breadcrumb_tag do
  %li.active
    = t('app.routes.edit')
  %li
    = link_to(@route.start_station.name + '-' + @route.end_station.name, @route)
  %li
    = link_to 'Маршруты', routes_path
%h1= t('app.routes.edit')

= render 'form'
