=breadcrumb_tag do
  %li.active
    Маршруты
  %li
    Расписание
.page-header
  %h1= t('app.routes.index')
- if is_powerful?
  .row
    %caption
      = link_to new_route_path, class: 'btn btn-success' do
        = fa_icon :plus
        = t('buttons.new.route')
.row
  .flex-container
    - @routes.each do |route|
      .flex-block
        %h3
          Маршрут
          = route.id
        %b= Route.human_attribute_name(:start_station_id)
        %p= route.start_station.present? ? route.start_station.name : nil
        %b= Route.human_attribute_name(:end_station_id)
        %p= route.end_station.present? ? route.end_station.name : nil
        %b= Route.human_attribute_name(:days)
        %p= get_days(route)
        - if route.skipped_stations.present?
          %b= Route.human_attribute_name(:skipped_stations)
          %p= route.skipped_stations.join(", ")
        .buttons.bottom-right-corner
          = link_to route, class: 'btn btn-warning' do
            = fa_icon :eye
          - if is_powerful?
            = link_to edit_route_path(route), class: 'btn btn-info' do
              = fa_icon :edit
            = link_to route, :method => :delete, :data => { :confirm => t('buttons.confirm.route') }, class: 'btn btn-danger' do
              = fa_icon :times
