%h1= t('app.routes.index')

%table
  %thead
    %tr
      %th= Route.human_attribute_name(:start_station)
      %th= Route.human_attribute_name(:end_station)
      %th= Route.human_attribute_name(:skipped_stations)
      %th
      %th
      %th

  %tbody
    - @routes.each do |route|
      %tr
        %td= route.start.present? ? route.start.name : nil
        %td= route.end.present? ? route.end.name : nil
        %td= route.skipped_stations.map{|s| s.name}.join(", ")
        %td= link_to 'Show', route
        %td= link_to 'Edit', edit_route_path(route)
        %td= link_to 'Destroy', route, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to t('app.routes.new-button'), new_route_path
