%p#notice= notice

%p
  %b= Route.human_attribute_name(:monday)+':'
  = @route.start.present? ? @route.start.name : nil
%p
  %b= Route.human_attribute_name(:end_station)+':'
  = @route.end.present? ? @route.end.name : nil
%p
  %b= Route.human_attribute_name(:skipped_stations)+':'
  = @route.skipped_stations.map{|s| s.name}.join(", ")

%p
  %b= Route.human_attribute_name(:monday)+':'
  = @route.monday
%p
  %b= Route.human_attribute_name(:tuesday)+':'
  = @route.tuesday
%p
  %b= Route.human_attribute_name(:wednesday)+':'
  = @route.wednesday
%p
  %b= Route.human_attribute_name(:thursday)+':'
  = @route.thursday
%p
  %b= Route.human_attribute_name(:friday)+':'
  = @route.friday
%p
  %b= Route.human_attribute_name(:saturday)+':'
  = @route.saturday
%p
  %b= Route.human_attribute_name(:sunday)+':'
  = @route.sunday


= link_to 'Edit', edit_route_path(@route)
\|
= link_to 'Back', routes_path
