=breadcrumb_tag do
  %li.active
    = link_to(@route.start_station.name + '-' + @route.end_station.name, @route)
  %li
    = link_to 'Маршруты', routes_path
%p#notice= notice

%p
  %b= Route.human_attribute_name(:start_station)+':'
  = @route.start_station.present? ? @route.start_station.name : nil
%p
  %b= Route.human_attribute_name(:end_station)+':'
  = @route.end_station.present? ? @route.end_station.name : nil
%p
  %b= Route.human_attribute_name(:skipped_stations)+':'
  = @route.skipped_stations.map{|s| s.name}.join(", ")

%p
  %b= Route.human_attribute_name(:monday)+':'
  = @route.monday
%p
  %b= Route.human_attribute_name(:tuesday)+':'
  = @route.tuesday
%p
  %b= Route.human_attribute_name(:wednesday)+':'
  = @route.wednesday
%p
  %b= Route.human_attribute_name(:thursday)+':'
  = @route.thursday
%p
  %b= Route.human_attribute_name(:friday)+':'
  = @route.friday
%p
  %b= Route.human_attribute_name(:saturday)+':'
  = @route.saturday
%p
  %b= Route.human_attribute_name(:sunday)+':'
  = @route.sunday
